<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
</head>
<body>
<nav th:replace="template :: navbar"/>
    <div class="container custom-container">
        <!--<div class="vertical-center">-->
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default custom-login-form">
                        <div class="panel-body" align="center">
                            <h2 th:text="#{login.title}">Log in</h2>
                            <hr/>
                            <form th:action="@{/login}" method="POST">
                                <div class="form-group" style="padding-top:20px;" align="left">
                                    <label th:text="#{login.username.label}" for="username">Username:</label>
                                    <input th:attr="placeholder=#{login.username.placeholder}" name="username" type="text" class="form-control" id="username" />
                                </div>
                                <div class="form-group" align="left">
                                    <label th:text="#{login.password.label}" for="password">Password:</label>
                                    <input th:attr="placeholder=#{login.password.placeholder}" name="password" type="password" class="form-control" id="password" />
                                </div>
                                <button th:text="#{login.button}" type="submit" class="btn btn-primary btn-block">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    <!--</div>-->
    </div>
<nav th:replace="template :: footer"/>
</body>
</html>